@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none; }
a{text-decoration: none;color: inherit;}

h1{text-align: center;padding: 30px 0;}

#wrap{overflow: hidden;}

.img_view{width: 980px; height: 379px;position: relative; margin: 0 auto;}

.img_view li{position: absolute; left: 0; top: 0;}

.btn_group{text-align: center;}
.btn_group li{display: inline-block; margin: 0 20px;}
.btn_group li a{display: block; width: 20px; height: 20px; border-radius: 50%;
                background-color: grey;
                text-indent:-9999px ;
            box-shadow:  1px 1px 5px black ,inset 1px 1px 2px black;}

.act a{ background-color: black !important;}